### Локальная разработка (.env)

DJANGO_SECRET_KEY=change-me-in-dev
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=payment_service
POSTGRES_USER=payment_service
POSTGRES_PASSWORD=payment_service
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

### Docker / docker-compose (.env)

# Эти значения используются docker-compose.yml

DJANGO_SECRET_KEY=change-me-in-prod
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=payment_service
POSTGRES_USER=payment_service
POSTGRES_PASSWORD=payment_service
POSTGRES_HOST=db
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


